<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand">
      <i class="fa fa-bars mr-2" (click)="menu.abrirMenu()" (keyup.space)="menu.abrirMenu()"></i>
      Gatito Book
    </a>
    <app-menu #menu>
      <ul class="list-unstyled">
        <li>
          <a [routerLink]="['animais', 'novo']">Novo Animal</a>
        </li>
      </ul>
    </app-menu>
    <div *ngIf="usuario$ | async as usuario">
      <div *ngIf="usuario.name; else login">
        <i class="fa fa-user-circle mr-1">
          <a class="mr-1">{{ usuario.name }}</a>
          <a (click)="logout()">Logout</a>
        </i>
      </div>
    </div>
  </nav>
  <ng-template #login>
    <span class="navbar-text"><a [routerLink]="['']"></a></span>
  </ng-template>
</header>
